<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="Nimedicus" connectionString="Data Source=nimedicus.database.windows.net,1433;Initial Catalog=Nimedicus-dyplom;User ID=nimedicus;Password=ewqd$Ksacz3e4;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>